@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GET ME TO THE PIXELS</h1>
</div>
<div class="center">
    <img src="~/images/Robot.png" alt="Robot painting" style="width:500px;height:500px;" />
</div>
