
@{
    ViewData["Title"] = "Pixel Art";
}



<div>
    <h1>Pixel Art Creator</h1>


    <h2>Pick A Color</h2>
    <input type="color" id="colorPicker">

    <h2>Design Canvas</h2>
    <canvas id="pixelCanvas" width="400" height="400"></canvas>
    <button id="clearCanvasButton" class=" bg-transparent">
        <i class="fa-solid fa-trash-can"></i>
    </button>



</div>
